{% extends 'base.html' %}
{% block content %}
{% load static %}
{% include 'navbar.html' %}

<!-- ========================= SECTION CONTENT ========================= -->
<br>
<br>
<section class="section-conten padding-y bg">
    <div class="container">
        <div class="row">
            {% include 'dashbord_sidebar.html' %}
     
        <main class="col-md-9">
            <article class="card" >
            <header class="card-header" style="text-align:center">
                <strong class="d-inline-block mr-3">Change password</strong>
                
            </header>
            <div class="card-body">
                {% include 'alerts.html' %}
                <div >
                    <img src="{% static 'img/logo1.png' %}" alt="" width="88rem" >
                </div>
                <br>
                <div class="row"> 
                 <div class="col-md-12">
                   <form action="{% url 'change_password' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">Current Password</label>
                        <input type="password" name="current_password" placeholder = "Current Password" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="">Create New Password</label>
                        <input type="password" name="new_password" placeholder = "Change Password" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="">Conform New Password</label>
                        <input type="password" name="conform_password" placeholder = "Conform Password" class="form-control" required>
                    </div>
                
                    <input type="submit" value="Submit" class="btn btn-primary" style="text-align:center">
                   </form>
                 </div>
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    </section>
    <br>
    <br>
    {% include 'footer.html' %}
{% endblock content %}