{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}

<!-- ========================= SECTION CONTENT ========================= -->
<br>
<br>
<section class="section-conten padding-y bg">
    <div class="container">
        <div class="row">
        
            <!--   SIDEBAR   -->
            {% include 'dashbord_sidebar.html' %}
            <!--   SIDEBAR .//END   -->
        
        <main class="col-md-9">
            <article class="card" style="text-align:center">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Logged in as:</strong>
                <span>{{user.first_name}}</span>
            </header>
            <div class="card-body">
                <div class="row"> 
                 <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5>Total Order</h5>
                            <h4>{{ordercount}}</h4>
                            <a href="{% url 'myorders' %}">view Orders</a>
                        </div>
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="card" style="text-align:center">
                        <div class="card-body">
                           <p class="mb-0">E-mail : {{user.email}}</p>
                            <p class="mb-0">Mobile : {{user.phone_number}}</p>
                        </div>
                    </div>
                 </div>

                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    </section>
    <br>
    <br>
    {% include 'footer.html' %}
{% endblock content %}