{% extends 'base.html' %}

{% block content %}
    {% include 'navbar.html' %}
    <br>
    <br>
    <br>
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y bg">
        {% include 'alerts.html' %}
        <div class="container">
            <div class="row">
                {% include 'dashbord_sidebar.html' %}
     
                <main class="col-md-9">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="text-center">User Profile</h2>
                        </header>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>First Name:</strong> {{ user.first_name }}</p>
                                    <br>
                                    <form method="post" action="{% url 'edit_profile' %}">
                                        {% csrf_token %}
                                        {{ user_form.as_p }}
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </form>
                                    <br>
                                  
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                                    <br>
                                    <br>
                                    <p><strong>Last Login:</strong> {{ user.last_login }}</p>
                                    <br>
                                    <p><strong>User Role:</strong> {% if user.is_admin %}Administrator{% else %}Regular User{% endif %}</p>
                                    <br>
                                    <p><strong>Join Date:</strong> {{ user.join_date }}</p>
                                    <br>
                                    <p><strong>Verification Status:</strong> {% if user.is_verified %}Verified{% else %}Not Verified{% endif %}</p>
                                    <br>
                                </div>
                            </div> <!-- row -->
                        </div> <!-- card-body -->
                    </div> <!-- card -->
                </main>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    <br>
    <br>
    <br>

    {% include 'footer.html' %}
{% endblock %}
