{% extends 'base.html' %}

{% block content %}
    {% include 'navbar.html' %}
    <br>
    <br>
    <br>
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y bg">
        <div class="container">
            <div class="row">
                {% include 'dashbord_sidebar.html' %}
     
                <main class="col-md-9">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="text-center">User Profile</h2>
                        </header>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>First Name:</strong> {{ user.first_name }}</p>
                                    <br>
                                    <p><strong>Email:</strong> {{ user.email }}</p>
                                    <br>
                                    <p><strong>Join Date:</strong> {{ user.join_date }}</p>
                                    <br>
                                    <p><strong>Verification Status:</strong> {% if user.is_verified %}Verified{% else %}Not Verified{% endif %}</p>
                                    <br>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                                    <br>
                                    <p><strong>Phone Number:</strong> {{ user.phone_number }}</p>
                                    <br>
                                    <p><strong>Last Login:</strong> {{ user.last_login }}</p>
                                    <br>
                                    <p><strong>User Role:</strong> {% if user.is_admin %}Administrator{% else %}Regular User{% endif %}</p>
                                    <br>
                                </div>
                            </div> <!-- row -->
                        </div> <!-- card-body -->
                    </div> <!-- card -->
                </main>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    <br>
    <br>
    <br>

    {% include 'footer.html' %}
{% endblock %}
