{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}

<!-- ========================= SECTION CONTENT ========================= -->
<br>
<br>
<section class="section-conten padding-y bg">
    <div class="container">
        <div class="row">
            {% include 'dashbord_sidebar.html' %}
     
        <main class="col-md-9">
            <article class="card" >
            <header class="card-header" style="text-align:center">
                <strong class="d-inline-block mr-3">Order History:</strong>
                
            </header>
            <div class="card-body">
                <div class="row"> 
                 <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Order No#</th>
                            <th scope="col">Billing Name</th>
                            <th scope="col">Phone No</th>
                            <th scope="col">Total Amount</th>
                            <th scope="col">Date</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for ord in  orders  %}
                          <tr>
                            <th scope="row"><a href="{% url 'order_details' ord.order_number %}">{{ord.order_number}}</a></th>
                            <td>{{ord.first_name}}</td>
                            <td>{{ord.phone}}</td>
                            <td>{{ord.order_total}}</td>
                            <td>{{ord.created_at}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                 </div>

                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    </section>
    <br>
    <br>
    {% include 'footer.html' %}
{% endblock content %}