{% extends 'base.html' %}
{% load static %} 
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar d-flex justify-content-between">
              <h3>Categories</h3>
              <a href="{% url 'add_category' %}" class="btn btn-primary">Add Category</a>
            </nav>
            {% if category %}
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Slug</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for cat in category %}
                    <tr>
                        <td>{{ cat.category_name }}</td>
                        <td>{{ cat.slug }}</td>
                        <td>{{ cat.description }}</td>
                        <td>
                            <form action="{% url 'del_category' cat.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-warning mt-3" role="alert">
                No categories found.
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
