{% extends 'supbase.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>

<style>
  .invoice {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .invoice h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .invoice table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  .invoice table th,
  .invoice table td {
    padding: 10px;
    border: 1px solid #0d0c0c;
  }

  .invoice table th {
    background-color: #c1c5d4;
    text-align: left;
  }

  .invoice table tbody td {
    text-align: center;
  }

  .invoice table tfoot th {
    text-align: right;
  }
</style>

<div class="invoice">
  <h1>Order Details</h1>
  <table>
    <tr>
      <th>Order number</th>
      <td>#{{order.order_number}}</td>
    </tr>
    <tr>
      <th>Transaction ID</th>
      <td>#{{order.payment.payment_id}}</td>
    </tr>
    <tr>
      <th>Order date</th>
      <td>{{order.created_at}}</td>
    </tr>
    <tr>
      <th>Status</th>
      <td>{{order.payment.status}}</td>
    </tr>
  </table>
  <table>
    <thead>
      <tr>
        <th>Product name</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for item in ordr_product %}
      <tr>
        <td>{{item.product.product_name}}
          <p class="text-muted small">
            {% if item.variation.all %}
            {% for i in item.variation.all %}
            {{i.variation_category | capfirst }} : {{i.variation_value | capfirst }}<br>
            {% endfor %}
            {% endif %}
          </p>
        </td>
        <td>{{item.quantity}}</td>
        <td>
          {% if item.product.offer_price %}
              <h5> ${{ item.product.offer_price }}</h5>
          {% else %}
              <h5>${{ item.product.price }}</h5>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <table>
    <tfoot>
      <tr>
        <th colspan="2">Sub Total:</th>
        <th>$ {{subtotal}}</th>
      </tr>
      <tr>
        <th colspan="2">Tax:</th>
        <th>$ {{order.tax}}</th>
      </tr>
      <tr>
        <th colspan="2">Grand Total:</th>
        <th>$ {{order.order_total}}</th>
      </tr>
    </tfoot>
  </table>
</div>

{% endblock %}
