{% extends 'supbase.html' %} {% load static %} {% block content %}

<!-- main content start -->
<div class="main-content">
  <!-- content -->
  <div class="container-fluid content-top-gap">
    <a href="{% url 'home' %}">
      <img src="{% static 'img/logo1.png' %}" alt="" width="88rem" />
    </a>
    <div class="welcome-msg pt-3 pb-4">
      <h1>
        Hi <span class="text-primary">{{user.first_name}}</span>, Welcome back
      </h1>
      <p>Very detailed & featured admin.</p>
    </div>

    <!-- statistics data -->
    <div class="statistics">
      <div class="row">
        <div class="col-xl-6 pr-xl-2">
          <div class="row">
            <div class="col-sm-6 pr-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <i class="lnr lnr-users"> </i>
                <h3 class="text-primary number">{{users_count}}</h3>
                <p class="stat-text">Total Users</p>
              </div>
            </div>
            <div class="col-sm-6 pl-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <i class="lnr lnr-eye"> </i>
                <h3 class="text-secondary number">{{product_count}}</h3>
                <p class="stat-text">Product Count</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 pl-xl-2">
          <div class="row">
            <div class="col-sm-6 pr-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <i class="lnr lnr-cloud-download"> </i>
                <h3 class="text-success number">{{sums}}</h3>
                <p class="stat-text">Weekly Revenue</p>
              </div>
            </div>
            <div class="col-sm-6 pl-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <i class="lnr lnr-cart"> </i>
                <h3 class="text-danger number">{{total_orders}}</h3>
                <p class="stat-text">Total Orders</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //statistics data -->

    <!-- charts -->
    <div class="chart">
      <div class="row">
        <div class="col-lg-6 pr-lg-2 chart-grid">
          <div class="card text-center card_border">
            <div class="card-header chart-grid__header">Bar Chart</div>
            <div class="card-body">
              <!-- bar chart -->
              <div id="container">
                <canvas id="mybarchart"></canvas>
              </div>
              <!-- //bar chart -->
            </div>
            <div class="card-footer text-muted chart-grid__footer">
              Updated 2 hours ago
            </div>
          </div>
        </div>
        <div class="col-lg-6 pl-lg-2 chart-grid">
          <div class="card text-center card_border">
            <div class="card-header chart-grid__header">Line Chart</div>
            <div class="card-body">
              <!-- line chart -->
              <div id="container">
                <canvas id="mylinechart"></canvas>
              </div>
              <!-- //line chart -->
            </div>
            <div class="card-footer text-muted chart-grid__footer">
              Updated just now
            </div>
          </div>
        </div>
      </div>
    </div>

    
  <!-- Recent Sales Start -->
  <div class="container-fluid pt-4 px-4">
      <div class="bg-light text-center rounded p-4">
          <div class="d-flex align-items-center justify-content-between mb-0">
              <h5 class="mb-0">Recent Orders</h5>
              <a href="{% url 'orderslist' %}">Show All</a>
          </div>
          <div class="bg-light text-center rounded p-4">
              <div class="d-md-flex d-grid align-items-center justify-content-between mb-4">
                  {% comment %} <form class="form-inline d-flex my-1 align-items-center justify-content-between" style="width:70%;"> {% endcomment %}
                  <div>
                      <h6 class="mb-0">From</h6>
                      <input class="form-control" type="date" name="from" id="from">
                  </div>
                  <div>
                      <h6 class="mb-0">To</h6>
                      <input class="form-control" type="date" name="to" id="to">
                  </div>
                  <button class="btn btn-primary" onclick="applyfilter()">Go</button>
                  {% comment %} </form> {% endcomment %}
              <div>
                  <select class="float-right form-control" id="export-options" onchange="exportData()">
                      <option value=" ">Choose option</option>
                      <option value="excel">Export to Excel</option>
                      <option value="pdf">Download PDF</option>
                  </select>
              </div>
          </div>
          </div>
          <div class="table-responsive">
              {% if orders %}
  <table id="orders-table" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Order Number</th>
          <th scope="col">Ordered User</th>
          <th scope="col">Price</th>
          <th scope="col">Created At</th>
          <th scope="col">Status </th>
          
        </tr>
      </thead>
      <tbody id="tbody">
      {% for order in orders %}
        <tr>
          <th scope="row">{{order.order_number}}</a></th>
          <td>{{order.user.first_name}}</td>
          <td>{{order.order_total}}</td>
          <td>{{order.created_at}}</td>
          <td>{{order.status}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
      <h3 class="text-center alert alert-warning ">No Records Found</h3>
  {% endif %}
          </div>
      </div>
  </div>
  <!-- Recent Sales End -->


  </div>
</div>

<script>
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  function applyfilter(){
      var url = "{% url 'add_order_filter' %}"
      var csrftoken = getCookie('csrftoken');
      var from = document.getElementById("from").value
      var to = document.getElementById("to").value
      fetch(url,{
          method : "POST",
          headers:{
              "Content-type":"application/json",
              "X-CSRFToken":csrftoken,
          },
          body:JSON.stringify({
              from:from,
              to:to
          }),
      })
      .then(async function (response){
          const data =await response.json()
          if(data){
              data.order = JSON.parse(data.order);
              console.log(data)

              // Clear the existing table contents
              $('#orders-table tbody').empty();
              // Loop through the new data and generate HTML for each row
              $.each(data.order, function(index, order) {
                  let tr = document.createElement('tr')
                  let tbody = document.getElementById('tbody')
                  let trdata = `<td>${order.fields.order_number}</td>
                  <td>${order.fields.first_name} ${order.fields.last_name}</td>
                  <td>${order.fields.order_total}</td>
                  <td>${new Date(order.fields.created_at).toLocaleDateString()}</td>
                  <td>${order.fields.status}</td>
                  `
                  tr.innerHTML = trdata
                  tbody.appendChild(tr)
                  var row = $('<tr>');
              });
          }
      });
  }
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>

<script>
    function exportData() {
var selectedOption = document.getElementById("export-options").value;

if (selectedOption == "excel") {
    // call function to export to excel
    exportTableToExcel('orders-table', 'Sales Report');
} else if (selectedOption == "pdf") {
    // call function to download pdf
    downloadPDF();

}
}
function exportTableToExcel(table_id, filename = 'Sales-report'){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(table_id);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

    // Specify file name
    filename = filename?filename+'.xls':'excel_data.xls';

    // Create download link element
    downloadLink = document.createElement("a");

    document.body.appendChild(downloadLink);

    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

        // Setting the file name
        downloadLink.download = filename;

        //triggering the function
        downloadLink.click();
        location.reload()
    }
}

function downloadPDF() {
    const element = document.getElementById('orders-table');

// configure the html2pdf options
    const options = {
    filename: 'sales-report.pdf',
    image: { type: 'jpeg', quality: 0.98 },
    html2canvas: { scale: 2 },
    jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
    };

// convert the element to PDF
html2pdf().from(element).set(options).save();
}
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
        // Worldwide Sales Chart
    var ctx1 = $("#mybarchart").get(0).getContext("2d");
    var myChart1 = new Chart(ctx1, {
        type: "bar",
        data: {
            labels: [{% for product in products %} '{{product.product_name}}', {% endfor %}],
            datasets: [{
                    label: "Stock",
                    data: [{% for product in products %} {{product.stock}}, {% endfor %}],
                    backgroundColor: "rgba(0, 156, 255, .7)"
                }, 
            ]
            },
        options: {
            responsive: true
        }
    });


    // Salse & Revenue Chart
    var ctx2 = $("#mylinechart").get(0).getContext("2d");
    var myChart2 = new Chart(ctx2, {
        type: "line",
        data: {
            labels: [{% for date in dates %}'{{date|date:"d"}}',{% endfor %}],
            datasets: [{
                    label: "Sales",
                    data: [{% for sale in sales %}{{sale}},{% endfor %}],
                    backgroundColor: "rgba(0, 156, 255, .5)",
                    fill: true
                },

            ]
            },
        options: {
            responsive: true
        }
    });
    
</script>

{% endblock %}
