{% extends 'base.html' %}
{%  load static %} 
{% block content %}
{% include 'navbar.html' %}
<!-- Page Add Section Begin -->
<section class="page-add cart-page-add">
    <div class="container">
        {% include 'alerts.html' %}
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>Cart<span>.</span></h2>
                </div>
            </div>
            <div class="col-lg-8">
                <img src="{% static 'img/add.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Cart Page Section Begin -->
{% if not cart_items %}
  <h2 class = "text-center p-5">Your Shopping cart is empty.!</h2>
{% else %}
<div class="cart-page">
    <div class="container">
        <div class="cart-table">
            <table>
                <thead>
                    <tr>
                        <th class="product-h">Product</th>
                        <th>Price</th>
                        <th class="quan">Quantity</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items  %}
                    <tr>
                        <td class="product-col">
                            <a href="{{item.Product.get_url}}"><img src="{{ item.Product.image.url }}" alt=""></a>
                            <div class="p-title">
                                <a href="{{item.Product.get_url}}"><h5>{{ item.Product.product_name }}</h5></a>
                                <p class="total-info">
                                {% if item.variations.all %}
                                    {% for i in item.variations.all %}
                                        {{i.variation_category}} : {{i.variation_value}}
                                    {% endfor %}
                                {% endif %}
                                </p>
                            </div>
                        </td>
                        <td class="price-col">${{item.Product.price}}</td>
                        <td class="quantity-col">
                            <div class="input-group">
                                <span class="input-group-text">
                                <div class="d-inline-block">
                                  <a href="{% url 'remove_cart' item.Product.id item.id %}" class="btn btn-outline-secondary" type="button" id="minus">-</a>
                                </div>
                                <div class="d-inline-block">
                                  <input type="text" class="form-control text-center" id="count" value="{{ item.quantity }}">
                                </div>
                                <div class="d-inline-block">
                                  <form action="{% url 'add_cart' item.Product.id %}" method="post">
                                    {% csrf_token %}
                                    {% for i in item.variations.all %}
                                      <input type="hidden" name="{{ i.variation_category | lower }}" value="{{ i.variation_value | capfirst }}">
                                    {% endfor %}
                                    <button class="btn btn-outline-secondary" type="submit" id="plus">+</button>
                                  </form>
                                </div>
                               </span>
                              </div>
                  
                        </td>
                        <td class="total">${{item.sub_total}}</td>
                        <td class="product-close"><a href="{% url 'del_cart' item.Product.id item.id %}" onclick="return confirm("Are You Sure You Want To Remove It")" class= "btn btn-danger">Remove</a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="cart-btn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="cart__discount">
                        <h6>Discount codes</h6>
                            <input type="text" name="coupon" id="coupon" placeholder="Coupon code" style="padding: 5px; border: 1px solid #ccc;height:45px;">
                            <button  onclick="applycoupon()" style='background-color: black; color: #fff; border: none; padding: 10px 20px; margin-left: 5px;'>Apply</button>
                            <h6 id="coupon_id" style="padding-top:1rem;" ></h6>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 text-left text-lg-right">
                    <div class="site-btn update-btn ">
                        <div class="product-text"><a href="{% url 'store' %}">Update Cart</a></div>
                    </div>
                     
                </div>
            </div>
        </div>
    </div>
    <div class="shopping-method">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="total-info">
                        <div class="total-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Total</th>
                                        <th>Tax</th>
                                        
                                        <th class="total-cart">Grand-Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="total">${{total}}</td>
                                        <td class="sub-total">${{tax}}</td>
                                        <td class="total-cart-p"><span id="grand_total">₹ {{grand_total}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            {% if not cart_items %}
                                <div class="col-lg-12 text-right">
                                    <a href="{% url 'store' %}" class="primary-btn chechout-btn">Empty Cart !!! Update It</a>
                                </div>
                            {% else %}
                                <div class="col-lg-12 text-right">
                                    <a href="{% url 'checkout' %}" class="primary-btn chechout-btn">Proceed to checkout</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart Page Section End -->

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function applycoupon(){
        var url = "{% url 'apply_coupon' %}"
        var csrftoken = getCookie('csrftoken');
        var coupon = document.getElementById("coupon").value
        let coupon_id = document.getElementById("coupon_id")
        let grand_total = {{grand_total}}
            // Call your server to finalize the transaction 
        fetch(url,{
            method : "POST",
            headers:{
                "Content-type":"application/json",
                "X-CSRFToken":csrftoken,
            },
            body:JSON.stringify({
                coupon:coupon,
                grand_total:grand_total
            }),
        })
        .then(async function (response){
            const data =await response.json()
            if(data){
                coupon_id.innerHTML = data.message
                document.getElementById('grand_total').innerText = `₹ ${data.total}`
            }
        });
    }
</script>
{% endblock content %}