{% extends 'base.html' %}
{%  load static %} 
{% block content %}
{% include 'navbar.html' %}


    <!-- Page Add Section Begin -->
    <section class="page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                        <h2>Checkout<span>.</span></h2>
                    </div>
                </div>
                <div class="col-lg-8">
                    <img src="img/add.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Page Add Section End -->

    <!-- Cart Total Page Begin -->
    <section class="cart-total-page spad">
        <div class="container">
            <form action="{% url 'place_order' %}" method = "POST" class="checkout-form">
                {% csrf_token %} 
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Your Information</h3>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-2">
                                <p class="in-name">Name*</p>
                            </div>
                            <div class="col-lg-5">
                                <input type="text" placeholder="first_name" name="first_name">
                            </div>
                            <div class="col-lg-5">
                                <input type="text" placeholder="last_name" name="last_name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <p class="in-name">Street Address*</p>
                            </div>
                            <div class="col-lg-10">
                                <input type="text" placeholder="Street Address" class="checkout__input__add" name="address_line_1">
                                <input type="text" placeholder="Apartment, suite, unite ect (optinal)" name="address_line_2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <p class="in-name">Country</p>
                            </div>
                            <div class="col-lg-10">
                                <input type="text" placeholder="Country"  name="country">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <p class="in-name">state</p>
                            </div>
                            <div class="col-lg-10">
                                <input type="text" placeholder= "state" name="state">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <p class="in-name">City</p>
                            </div>
                            <div class="col-lg-10">
                                <input type="text" placeholder= "City"  name="city">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <p class="in-name">Postcode / ZIP</p>
                            </div>
                            <div class="col-lg-10">
                                <input type="text" placeholder = "postcode" name="pincode">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <p class="in-name">Phone*</p>
                            </div>
                            <div class="col-lg-10">
                                <input type="text" placeholder= "Phone" name="phone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <p class="in-name">Email</p>
                            </div>
                            <div class="col-lg-10">
                                <input type="text" placeholder = "Email" name="email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <p class="in-name">Order Note</p>
                            </div>
                            <div class="col-lg-10">
                                <input type="text" placeholder = " Note about your order, e.g, special note for delivery" name="order_note">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <div class="diff-addr">
                                    <input type="radio" id="one">
                                    <label for="one">Ship to different address</label>
                                </div>
                            </div>
                        </div>
                    </div>
                   {% if not cart_items %}
                   <div class="col-lg-3">
                    <div class="order-table">
                        <h4 class = "text-center p-5">Your Shopping cart is empty.!</h4>
                        <div class="text-center"><a href="{% url 'store' %}">Buy Product's</a></div>   
                    </div>
                    </div>
                  {% else %}
                  
                    <div class="col-lg-3">
                        <div class="order-table">
                        {% for item in cart_items  %}
                            <div class="cart-item">
                                <span>Product</span>
                                <a href="{{item.Product.get_url}}"><p>{{ item.Product.product_name }}</p></a>
                            </div>
                            <div class="cart-item">
                                <span>Price</span>
                                <p>${{item.Product.price}}</p>
                            </div>
                            <div class="cart-item">
                                <span>Quantity</span>
                                <p>{{ item.quantity }}</p>
                            </div>
                            <hr>
                            {% endfor %}
                            <br>
                            <div class="cart-item">
                                <span>tax</span>
                                <p>${{tax}}</p>
                            </div>

                            <div class="cart-total">
                                <span>Total</span>
                                <p>{{grand_total}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="payment-method">
                            <h3>Payment</h3>
                            <ul>
                                <li>Paypal <img src="img/paypal.jpg" alt=""></li>
                                <li>Credit / Debit card <img src="img/mastercard.jpg" alt=""></li>
                                <li>
                                    <label for="two">Pay when you get the package</label>
                                    <input type="radio" id="two">
                                </li>
                            </ul>
                            <button type="submit" >Place your order</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Cart Total Page End -->

{% include 'footer.html' %}
{% endblock content %}