{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>{{single_product.category}}<span>.</span></h2>
                    <a href="#">Home</a>
                    <a href="#">Dresses</a>
                    <a class="active" href="#">Night Dresses</a>
                </div>
            </div>
            <div class="col-lg-8">
                <img src="{% static 'img/add.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Product Page Section Beign -->
<section class="product-page">
    <div class="container" "p-5">
        <div class="row">
                <div class="col-lg-6">
                    <div class="product-slider owl-carousel">
                        <div class="product-img">
                            <figure>
                                <img src="{{single_product.image.url}}" alt="">
                                <div class="p-status">new</div>
                            </figure>
                        </div>
                        {% for pic  in pictures   %}
                        <div class="product-img">
                            <figure>
                                <img src="{{pic.image.url}}" alt="">
                                <div class="p-status">new</div>
                            </figure>
                        </div>
                        {% endfor %}
                    </div>
                    
                </div>
            <div  class="col-lg-6">
                <form action="{% url 'add_cart' single_product.id %}" method = "POST">
                    {% csrf_token %}
                    <div >
                        <div class="product-content">
                            <h2>{{single_product.product_name}}</h2>
                            <div class="pc-meta">
                                <h5>${{single_product.price}}</h5>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <p>{{single_product.discription}}.</p>
                            <div class="product-control">
                                <div>
                                  <h5>Choose color</h5>
                                  <select name="color" required>
                                    <option value=""disabled selected>Color</option>
                                    {% for i in single_product.variation_set.colors %}
                                    <option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                                <div>
                                  <h5>Choose Size</h5>
                                  <select name="size" required>
                                    <option value=""disabled selected>Size</option>
                                    {% for i in single_product.variation_set.sizes %}
                                    <option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                              </div>
                              
                            {% comment %} <ul class="tags">
                                <li><span>Category :</span> Men’s Wear</li>
                                <li><span>Tags :</span> man, shirt, dotted, elegant, cool</li>
                            </ul> {% endcomment %}
                            {% comment %} <div class="product-quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div> {% endcomment %}
                            {% if single_product.stock <= 0 %}
                            <h4 class="text-danger primary-btn pc-btn">out of stock</h4>
                        {% else %}
                            {% if in_cart %}
                                <button  type="submit"  href="#" class= "primary-btn pc-btn" style="background-color: green; color: white;">Added to cart</button>
                            {% else %}
                                <button type="submit" href="#" class= "primary-btn pc-btn" style="background-color: blue; color: white;">Add to cart</button>
                            {% endif %}
                        {% endif %}
                </form>
            </div>
                    {% comment %} <ul class="p-info">
                        <li>Product Information</li>
                        <li>Reviews</li>
                        <li>Product Care</li>
                    </ul>  {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <br>
</section>
<!-- Product Page Section End -->

<!-- Related Product Section Begin -->
{% comment %} <section class="related-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <div class="row">
                        <div class="col-md-6">
            
                <header class="section-heading">
                    <h3>Customer Reviews </h3>  
                    
                </header>

                <form action="" method="POST">
                    {% csrf_token %}
                    <h5>write your review</h5>
                    <div>
                        <label for="">how do you rate it</label>
                        <br>
                        <div class="rate">
                            <input type="radio" name="radio" id = "rating10" value="5">
                            <input type="radio" name="radio" id = "rating9" value="4.5">
                            <input type="radio" name="radio" id = "rating8" value="4">
                            <input type="radio" name="radio" id = "rating7" value="3,5">
                            <input type="radio" name="radio" id = "rating6" value="3">
                            <input type="radio" name="radio" id = "rating5" value="2.5">
                            <input type="radio" name="radio" id = "rating4" value="2">
                            <input type="radio" name="radio" id = "rating3" value="1.5">
                            <input type="radio" name="radio" id = "rating2" value="1">
                            <input type="radio" name="radio" id = "rating1" value="0.5">
                        </div>

                        Review title
                      <input type="text" class="form-control" name="subject">
                      <br>
                      Review
                      <textarea name="review" id=""  rows="4" class="form-control"></textarea>
                      <br>
                      <input type="subject" value = "submit Review" class = "btn btn-primary">
                    </div>
                </form>
                 <br>
                <article class="box mb-3">
                    <div class="icontext w-100">
                        <img src="./images/avatars/avatar1.jpg" class="img-xs icon rounded-circle">
                        <div class="text">
                            <span class="date text-muted float-md-right">24.04.2020 </span>  
                            <h6 class="mb-1">Mike John </h6>
                            
                        </div>
                    </div> <!-- icontext.// -->
                    <div class="mt-3">
                        <p>
                            Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip
                        </p>	
                    </div>
                </article>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}
{% include 'footer.html' %}
{% endblock content %}

