{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>{{single_product.category}}<span>.</span></h2>
                    <a href="#">Home</a>
                    <a href="#">Dresses</a>
                    <a class="active" href="#">Night Dresses</a>
                </div>
            </div>
            <div class="col-lg-8">
                <img src="{% static 'img/add.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Product Page Section Beign -->
<section class="product-page">
    <div class="container">
        <div class="product-control">
            <a href="#">Previous</a>
            <a href="#">Next</a>
        </div>
        <div class="row">
            <div class="col-lg-6 pt-5">
                <div class="owl-carouse">
                    <div class="#">
                        <figure>
                            <img src="{{single_product.image.url}}" alt="">
                            {% comment %} <div class="p-status">new</div> {% endcomment %}
                        </figure>
                    </div>
                    <div class="{{single_product.image.url}}">
                        <figure>
                            <img src="{{single_product.image}}" alt="">
                            {% comment %} <div class="p-status">new</div> {% endcomment %}
                        </figure>
                    </div>
                </div>
                
            </div>
            <div  class="col-lg-6">
                <form action="{% url 'add_cart' single_product.id %}" method = "POST">
                    {% csrf_token %}
                    <div >
                        <div class="product-content">
                            <h2>{{single_product.product_name}}</h2>
                            <div class="pc-meta">
                                <h5>${{single_product.price}}</h5>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <p>{{single_product.discription}}.</p>
                            <div class="product-control">
                                <div>
                                  <h5>Choose color</h5>
                                  <select name="color" required>
                                    <option value=""disabled selected>Color</option>
                                    {% for i in single_product.variation_set.colors %}
                                    <option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                                <div>
                                  <h5>Choose Size</h5>
                                  <select name="size" required>
                                    <option value=""disabled selected>Size</option>
                                    {% for i in single_product.variation_set.sizes %}
                                    <option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                              </div>
                              
                            {% comment %} <ul class="tags">
                                <li><span>Category :</span> Men’s Wear</li>
                                <li><span>Tags :</span> man, shirt, dotted, elegant, cool</li>
                            </ul> {% endcomment %}
                            {% comment %} <div class="product-quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div> {% endcomment %}
                            {% if single_product.stock <= 0 %}
                            <h4 class="text-danger primary-btn pc-btn">out of stock</h4>
                        {% else %}
                            {% if in_cart %}
                                <button  type="submit"  href="#" class= "primary-btn pc-btn" style="background-color: green; color: white;">Added to cart</button>
                            {% else %}
                                <button type="submit" href="#" class= "primary-btn pc-btn" style="background-color: blue; color: white;">Add to cart</button>
                            {% endif %}
                        {% endif %}
                </form>
            </div>
                    {% comment %} <ul class="p-info">
                        <li>Product Information</li>
                        <li>Reviews</li>
                        <li>Product Care</li>
                    </ul> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Page Section End -->

<!-- Related Product Section Begin -->
<section class="related-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Related Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="{% static 'img/products/img-1.jpg' %}" alt=""></a>
                        <div class="p-status">new</div>
                    </figure>
                    <div class="product-text">
                        <h6>Green Dress with details</h6>
                        <p>$22.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="{% static 'img/products/img-2.jpg' %}" alt=""></a>
                        <div class="p-status sale">sale</div>
                    </figure>
                    <div class="product-text">
                        <h6>Yellow Maxi Dress</h6>
                        <p>$25.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="{% static 'img/products/img-3.jpg' %}" alt=""></a>
                        <div class="p-status">new</div>
                    </figure>
                    <div class="product-text">
                        <h6>One piece bodysuit</h6>
                        <p>$19.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="{% static 'img/products/img-4.jpg' %}" alt=""></a>
                        <div class="p-status popular">popular</div>
                    </figure>
                    <div class="product-text">
                        <h6>Blue Dress with details</h6>
                        <p>$35.50</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

