{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}



<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>{{single_product.category}}<span>.</span></h2>
                    <a href="#">Home</a>
                    <a href="#">Dresses</a>
                    <a class="active" href="#">Night Dresses</a>
                </div>
            </div>
            <div class="col-lg-8">
                <img src="{% static 'img/add.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Product Page Section Beign -->
<section class="product-page">
    <div class="container" "p-5">
        <div class="row">
                <div class="col-lg-6">
                    <div class="product-slider owl-carousel">
                        <div class="product-img">
                            <figure class = "myprodect-image">
                                <img src="{{single_product.image.url}}" alt="">
                                <div class="magnified-lense"></div>
                            </figure>
                        </div>
                        {% for pic  in pictures   %}
                        <div class="product-img">
                            <figure class = "myprodect-image">
                                <img src="{{pic.image.url}}" alt="">
                                <div class="magnified-lense"></div>
                            </figure>
                        </div>
                        {% endfor %}
                    </div>
                    
                </div>
            <div  class="col-lg-6">
                <form action="{% url 'add_cart' single_product.id %}" method = "POST">
                    {% csrf_token %}
                    <div >
                        <div class="product-content">
                            <div class="magnified-image"></div>
                            <h2>{{single_product.product_name}}</h2>
                            <div class="pc-meta">
                                <h5>  {% if single_product.offer_price %}
                                    <h5><del>${{single_product.price}}</del></h5>
                                    <h5>${{single_product.offer_price}}</h5>
                                    {% else %}
                                    <h5>${{single_product.price}}</h5>
                                    {% endif %}</h5>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <p>{{single_product.discription}}.</p>
                            <div class="product-control">
                                <div>
                                  <h5>Choose color</h5>
                                  <select name="color" required>
                                    <option value=""disabled selected>Color</option>
                                    {% for i in single_product.variation_set.colors %}
                                    <option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                                <div>
                                  <h5>Choose Size</h5>
                                  <select name="size" required>
                                    <option value=""disabled selected>Size</option>
                                    {% for i in single_product.variation_set.sizes %}
                                    <option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                                
                              </div>
                            {% if single_product.stock <= 0 %}
                            <h4 class="text-danger primary-btn pc-btn">out of stock</h4>
                        {% else %}
                            {% if in_cart %}
                                <button  type="submit"  href="#" class= "primary-btn pc-btn" style="background-color: green; color: white;">Added to cart</button>
                            {% else %}
                                <button type="submit" href="#" class= "primary-btn pc-btn" style="background-color: blue; color: white;">Add to cart</button>
                            {% endif %}
                        {% endif %}
                </form>
            </div>
            
                </div>
            </div>
        </div>
    </div>
    <br>
</section>



<style>
    .magnified-lense {
        position: absolute;
        width :100px;
        height: 150px;
        background-color: #46464633;
        border: .1px solid #29292963;
        opacity: 0;
    
    }
    
    .magnified-lense.active {
        opacity: 1;

    }
    
    .magnified-image {
        height : 5rem;
        width : 20rem;
        background-color: #0173b2;
        transform: scale(0.5);
        opacity: 0;
    
    }
    
    .magnified-image.active {
        opacity: 1;
	    transform: scale(1);

    }
    

</style>

<script>
    const lens = document.querySelector('.magnified-lense');
    const product_img = document.querySelector('.myprodect-image img');
    const magnified_img = document.querySelector('.magnified-image');

    function magnify(product_img, magnified_img) {
        product_img.addEventListener('mousemove', moveLens);
        product_img.addEventListener('mouseout', leaveLens);
    }

    magnify(product_img, magnified_img);

    function moveLens(e) {
        let x, y, cx, cy;
        const product_img_rect = product_img.getBoundingClientRect();

        x = e.pageX - product_img_rect.left - lens.offsetWidth / 2;
        y = e.pageY - product_img_rect.top - lens.offsetHeight / 2;

        let max_xpos = product_img_rect.width - lens.offsetWidth;
        let max_ypos = product_img_rect.height - lens.offsetHeight;

        if (x > max_xpos) x = max_xpos;
        if (x < 0) x = 0;

        if (y > max_ypos) y = max_ypos;
        if (y < 0) y = 0;

        lens.style.cssText = `top:${y}px; left:${x}px`;

        cx = magnified_img.offsetWidth / lens.offsetWidth;
        cy = magnified_img.offsetHeight / lens.offsetHeight;

        magnified_img.style.cssText = `background: url('${product_img.src}')
                                        -${x * cx}px -${y * cy}px /
                                        ${product_img_rect.width * cx}px ${product_img_rect.height * cy}px
                                        no-repeat
        `;
        lens.classList.add('active');
        magnified_img.classList.add('active');
    }

    function leaveLens() {
        lens.classList.remove('active');
        magnified_img.classList.remove('active');
    }
</script>

{% include 'footer.html' %}
{% endblock content %}



